<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="A portfolio template that uses Material Design Lite.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Cheng Yu Hsun Website</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-pink.min.css" />

	<link rel="stylesheet" type="text/css" href="css/test.css" />

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="js/ejs_production.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
			<div class="mdl-layout__header-row portfolio-logo-row">
				<span class="mdl-layout__title">
                    <!--<div class="portfolio-logo"></div>-->
                    <a href="#" class="logo-icon">
						<img src="https://raw.githubusercontent.com/TonyCheng2016/MERN-HW/master/hw4/images/logo.png" width="300" align="left">
					</a>
                    <span class="mdl-layout__title">Restful Website</span>
				</span>
			</div>

			<div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
				<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
					<a class="mdl-navigation__link is-active" href="index.html">Home</a>
					<a class="mdl-navigation__link" href="about.html">News</a>
					<a class="mdl-navigation__link" href="works.html">Works</a>
					<a class="mdl-navigation__link" href="contact.html">Contact</a>
				</nav>
			</div>

		</header>
		<div class="mdl-layout__drawer mdl-layout--small-screen-only">
			<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
				<a class="mdl-navigation__link is-active" href="index.html">Home</a>
				<a class="mdl-navigation__link" href="about.html">News</a>
				<a class="mdl-navigation__link" href="works.html">Works</a>
				<a class="mdl-navigation__link" href="contact.html">Contact</a>
			</nav>
		</div>
		<main class="mdl-layout__content">
			<div class="mdl-grid portfolio-max-width">


				<div id="content">
					<div align="center">
						<h2 class="title">人生以服務為目的，而不以奪取為目的。------孫文</h2>
					</div>
					<div class="paragraphy">
						<div id="usernew">
							<%- include('form'); %>
						</div>
						<div id="userinfo">
							<%- include('persons'); %>
						</div>
						<div id="userupdate"></div>
						<script src="js/script.js"></script>
						<!--<p>平時喜好閱讀，對數學最有心得。假日到附近學校操場運動，對於電影、下棋亦有相當喜好，常可利用這些休閒活動，抒解壓力，提升性靈。網路是我蒐集資料的好地方，平時也會上網瀏覽，尋找資料。「誠懇」、「踏實」、「與人為善」的人格特質，則是我「得到多助」的特長。
						</p>-->
					</div>
					<div class="homeimg">

						<h1>To-Do List</h1>
						<% if (userinfos.length) { %>
							<ul>

								<% userinfos.forEach(function(userinfo){ %>

									<li><input type="checkbox" name="todolist" value="list">
										<label>行程: </label>
										<%= userinfo['schedule'] %>
											<label> Contact User:  </label>
											<label> 姓氏 </label>
											<%= userinfo['firstname'] %>
												<label> 名字 </label>
												<%= userinfo['lastname'] %>
									</li>
									<hr>
									<% }) %>
							</ul>
							<% } %>
					</div>

				</div>

			</div>
			<footer class="mdl-mini-footer">
				<div class="mdl-mini-footer__left-section">
					<div class="mdl-logo">
						<div id="footnote">
							<h4>Contact Us</h4>
							<p>
								<span>Address:</span> Taipei Neihu
							</p>
							<p>
								<span>Phone:</span> 0937922587
							</p>
							<p>
								<span>Email:</span> s110219004@stu.ntue.edu.tw
							</p>
						</div>
					</div>
				</div>
				<div class="mdl-mini-footer__right-section">
					<ul class="mdl-mini-footer__link-list">
						<li><a href="#">Help</a></li>
						<li><a href="#">Privacy & Terms</a></li>
					</ul>
					<div class="section">
						<h4>SEND US A MESSAGE</h4>
						<p>

						</p>
						<a href="contact.html" class="subscribe">Click to send us an email</a>
					</div>
				</div>
				<div id="footnote">
					<p>鄭裕勳 © Copyright 2017/04 110219004 Cheng Yu Hsun All Rights Reserved.</p>
				</div>
			</footer>
		</main>
	</div>
	<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>